# Build & install dirs của LibTIFF
libtiff_work/tiff-4.0.4-asan/
libtiff_work/tiff-4.0.4-sanitized/
libtiff_work/tiff-4.0.4-debug/
libtiff_work/tiff-4.0.4/install*/
libtiff_work/tiff-4.0.4-*/install*/

# Fuzz outputs
fuzz_tiffinfo_out/
fuzz_tiffinfo_in/queue/
fuzz_tiffinfo_in/crashes/
fuzz_tiffinfo_in/hangs/

# Temporary / logs lớn (tuỳ bạn giữ hay không)
*.log
*.tmp

# VSCode
.vscode/

# Python cache
__pycache__/
*.pyc
